{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block dropdown %}
    {% for event in events_list %}
        <form method="post" action={% url 'details' %}>
            {% csrf_token %}
            <input type="hidden" name="event" value={{ event.event_name }}/>
            <button type="submit" class="dropdown-item">{{ event.event_name }}</button>
        </form>

    {% endfor %}
{% endblock %}

{% block body %}
    <div class="container-fluid"
         style="background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('{% static 'events/img/banner/mechBanner.jpg' %}');width: 100%;height:300px;background-size:cover;">
        <h1 class="title" data-sal="slide-up" data-sal-easing="ease-out-bounce"
            data-sal-delay="300">{{ event.event_name }}</h1>
    </div>
    <br>
    <div class="container">
        {% if event.objective %}
            <h3 data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">Objective</h3>
            <pre data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">{{ event.objective }}</pre>
        {% endif %}
    </div>
    <br>
    <div class="container">
        {% if event.rounds %}
            <h3 data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">Rounds</h3>
            <pre data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">{{ event.rounds }}</pre>
        {% endif %}
    </div>
    <br>
    <div class="container">
        {% if event.rules %}
            <h3 data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">Rules</h3>
            <pre style="overflow:auto" data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">{{ event.rules }}</pre>
        {% endif %}
    </div>
    <br>
    <div class="container">
        <h3 data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">Team and Fee Structure</h3>
        <p data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300">Max {{ event.team_size }}
            Participants per Team & ₹ {{ event.entry_fee }} per team.</p>
    </div>
    <br><br>
    {% block scripts %}
        <script src="{% static 'events/js/events.js' %}"></script>
    {% endblock %}

{% endblock %}