{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block dropdown %}
    {% for event in events %}
        <form method="post" action="{% url 'details' %}">
            {% csrf_token %}
            <input type="hidden" name="event" value="{{ event.event.event_name }}">
            <button type="submit" class="dropdown-item">{{ event.event.event_name }}</button>
        </form>
    {% endfor %}
{% endblock %}

{% block body %}

    <div class="container-fluid"
         style="background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('{% static dept_choosen.banner_src %}');width: 100%;height:300px;background-size:cover;">
        <h1 class="title" data-sal="slide-up" data-sal-easing="ease-out-bounce"
            data-sal-delay="300">{{ pageTitle }}</h1>
    </div>
    <br><br>
    <div class="container-fluid">
        {% for event in events %}
            {% if forloop.first %}
                <div class="row">{% endif %}
        <div class="col-sm-2 eventDiv hvr-bounce-to-top"
             style="background:linear-gradient(45deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({% static event.event.container_src %}); background-repeat: no-repeat; background-size: cover; width: 100%;height:auto"
             data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="300" data-sal-duration="1100">
            <h4 class="eventTitle">{{ event.event.event_name }}</h4>
            <p class="eventDescription">
                                                {{ event.event.objective }}
            </p>
            <form method="get" action="{% url 'details' %}">
                {% csrf_token %}
                <input type="hidden" name="event" value="{{ event.event.event_name }}">
                <button type="submit" class="btn btn-primary eventButtons">Learn
                    More
                </button>
            </form>

        </div>
        {% if forloop.counter|divisibleby:5 %}
            </div>
            <div class="row">{% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <br><br><br>
{% endblock %}
    {% block scripts %}
        <script src="{% static 'events/js/events.js' %}"></script>
    {% endblock %}

