{% extends 'base/base.html' %}

{% block title %}Register Head{% endblock %}


{% block body %}
<div>
    <p>
    <h1>Head Registration</h1>
    </p>

    <br>
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
<form method="post">
    {% csrf_token %}


    {% if userform.non_field_errors %}
    <ul>
            {% for error in userform.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if userform.name.errors %}
        <ul>
            {% for error in userform.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
     {% if roleform.non_field_errors %}
    <ul>
            {% for error in roleform.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if roleform.name.errors %}
        <ul>
            {% for error in roleform.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        <input id="name" type="text" class="form-control" name="username"
               placeholder="Name">
        {{ userform.username.errors }}
    </div>
    <div class="form-group">
        <input id="email" type="email" class="form-control" name="email"
               placeholder="Email">
        {{ userform.email.errors }}
    </div>

    <div class = "form-group">
            <input id ="password" type = "password" name="password" placeholder="password">

    </div>
    <div class="form-group">
        Category :
        <select name="name">
        {% for role in roles %}
        <option value="{{role.pk}}">{{role.name}}</option>
            {% endfor %}
         </select>
        {{ roleform.name.errors }}
    </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Register</button>
        </div>
</form>

     <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">SignUp with Google</a><br>
</div>



{% endblock %}