{% extends 'base/base.html' %}
{% load static %}

{% block title %}Gandharva-Home{% endblock %}
{% block css %}
    <link href="{% static 'gandharva/css/slick.min.css' %}" rel="stylesheet">
    <link href="{% static 'gandharva/css/responsive.css' %}" rel="stylesheet">
    {#    <link href="{% static 'gandharva/css/owl.carousel.min.css' %}" rel="stylesheet">#}
    <link href="{% static 'gandharva/css/home.css' %}" rel="stylesheet">

    <script>
        var GandharvaDate = "{{gandharvaDate}}";
    </script>
{% endblock %}

{% block body %}
    <section style="height:100vh">
        <div class="container-fluid"
             style="background-color: rgba(0,0,0,0.8); padding:0;height:100%;width: 100%;">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"
                         data-interval="3000" style="width: 100%; height: 100vh;object-fit: cover;">
                        <div class="carousel-inner" style="height: 100%;">
                            {% for carouselImg in carouselImage %}
                                {% if forloop.first %}
                                    <div class="carousel-item active" style="object-fit: cover">
                                        <img class="d-block w-100 img-fluid" src="{% static carouselImg.src %}"
                                             alt="carouselImages" style="height: 100vh;object-fit: cover">
                                    </div>
                                {% else %}
                                    <div class="carousel-item" style="object-fit: cover">
                                        <img class="d-block w-100 img-fluid" style="height: 100vh;object-fit: cover"
                                             src="{% static carouselImg.src %}"
                                             alt="carouselImages">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="particle" style="">
                    <div id="particles-js"></div>
                    <div class="mainTitle">
                        <h1 class="userselect">Gandharva</h1>
                        <h3 class="userselect" style="color: #fff;text-align: center;">A Techno-Cultural Fest</h3>
                        <br>
                        <h4 class="userselect" style="color: #fff;text-align: center;">Starts in</h4>
                        <div id="countdown"
                             style="display:flex;flex-direction:row;justify-content:space-between;border-style: solid;border-width: 2px;border-color: #fff;">
                            <div id="dayDiv" class="col text-center text-white my-1">
                                <h1 class="userselect day days" style="font-size: 50px">00</h1>
                                <p class="userselect">Days</p>
                            </div>
                            <div id="hrDiv" class="col text-center text-white my-1 ">
                                <h1 class="userselect hr hours" style="font-size: 50px">00</h1>
                                <p class="userselect">Hours</p>
                            </div>
                            <div id="minDiv" class="col text-center text-white my-1 ">
                                <h1 class="userselect min minutes" style="font-size: 50px">00</h1>
                                <p class="userselect">Minutes</p>
                            </div>
                            <div id="secDiv" class="col text-center text-white my-1 ">
                                <h1 class="userselect sec seconds" style="font-size: 50px">00</h1>
                                <p class="userselect">Seconds</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    <section id="explore"#}
    {#             style="background:linear-gradient(45deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('{% static "gandharva/img/nextEvent.JPG" %}');background-size: cover;">#}
    {#        <div class="container-fluid">#}
    {#            <div class="row">#}
    {#                <div class=" col-md-4 watch">#}
    {#                    <img class="img-fluid" src="{% static 'gandharva/images/watch.png' %}" alt="">#}
    {#                </div>#}
    {#                <div class="col-sm-12 col-md-6">#}
    {#                    <h2 data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="100"#}
    {#                        data-sal-duration="800">Gandharva'19 in</h2>#}
    {#                    <div id="countdown" style="display: flex;flex-direction: row;justify-content:space-between">#}
    {#                        <div class="col text-center text-white mt-1 ml-4 mr-4 mb-1">#}
    {#                            <h2 class="day days">00</h2>#}
    {#                            <p>Days</p>#}
    {#                        </div>#}
    {#                        <div class="col text-center text-white mt-1 ml-4 mr-4 mb-1">#}
    {#                            <h2 class=" hr hours">00</h2>#}
    {#                            <p>Hours</p>#}
    {#                        </div>#}
    {#                        <div class="col text-center text-white mt-1 ml-4 mr-4 mb-1">#}
    {#                            <h2 class=" min minutes">00</h2>#}
    {#                            <p>Minutes</p>#}
    {#                        </div>#}
    {#                        <div class="col text-center text-white mt-1 ml-4 mr-4 mb-1">#}
    {#                            <h2 class="sec seconds">00</h2>#}
    {#                            <p>Seconds</p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}


    <div class="col-sm-12" style="height:60px; background-color:#348a91"></div>
    <section id="eventSection">
        <img class="img-fluid" src="{% static 'gandharva/img/band.png' %}">
        <div class="container-fluid" style="background-color:#33888F">
            <h1 style="text-align: center;padding-top:2vh;color:#fff;font-weight: bold" data-sal="slide-up"
                data-sal-easing="ease-out-bounce"
                data-sal-delay="100" data-sal-duration="800">
                Events</h1>

            {% for event in events %}
                {% if forloop.first %}
                    <div class="row">{% endif %}
            <div class="col-sm-2 eventDiv"
                 style="background-image:url({% static event.img %}); background-repeat: no-repeat; background-size: cover; width: 480px;height: 240px"
                 data-sal="slide-up" data-sal-easing="ease-out-bounce" data-sal-delay="30" data-sal-duration="600">
                <h3 class="eventTitle">{{ event.name }}</h3>
                <form method="get" action={% url event.link_to %}>
                    {% csrf_token %}
                    <input type="hidden" name="dept" value={{ event.name }}>
                    <button type="submit" class="btn btn-primary eventButtons">Learn
                        More
                    </button>
                </form>
            </div>
            {% if forloop.counter|divisibleby:5 %}
                </div>
                <div class="row">{% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
        <img class="img-fluid" src="{% static 'gandharva/img/party.png' %}">
    </section>

    <section id="about" style="background-color: #75B46E">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-fluid" src="{% static 'gandharva/images/guitar2.jpg' %}"
                         alt="guitar">
                </div>
                <div class="col-sm-6">
                    <h2 style="margin-top: 2vh;text-align: center;font-weight: bold" data-sal="slide-up"
                        data-sal-easing="ease-out-bounce" data-sal-delay="100" data-sal-duration="800">About
                        Gandharva</h2>
                    <p style="margin-top:2vh;text-align: center" data-sal="slide-up"
                       data-sal-easing="ease-out-bounce" data-sal-delay="100" data-sal-duration="800">
                        {{ About }}
                </div>
            </div>
        </div>
    </section>


    <section id="sponsorSection" class="orange-fade p-5 margin-top-xl pos-r parallax"
             style="padding:0; background-image: url('{% static 'gandharva/img/p.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <h2 class="text-center font-weight-bold text-white" style="padding-top: 6px" data-sal="slide-up"
                        data-sal-easing="ease-out-bounce" data-sal-delay="100" data-sal-duration="800">Our
                        Sponsors</h2>
                    <p></p>
                    <div class="mt-5 pos-r" data-sal="slide-up" data-sal-easing="ease-out-bounce"
                         data-sal-delay="100"
                         data-sal-duration="800">
                        <div class="carousel-controls testimonial-carousel-controls">
                            <div class="control prev"><i class="fa fa-chevron-left text-white">&nbsp;</i></div>
                            <div class="control next"><i class="fa fa-chevron-right text-white">&nbsp;</i></div>
                        </div>
                        <div class="testimonial-carousel">
                            {% for sponsor in sponsors %}
                                <div class="one-slide white">
                                    <div class="testimonial w-100 h-100 p-3 text-center">
                                        <div class="brand"><img alt="logo"
                                                                src="{% static sponsor.sponsor_logo %}"
                                                                style="width:auto;height:100px;max-width:100px"/>
                                        </div>
                                        <div class="separator">&nbsp;</div>
                                        <div class="message text-center text-gray">{{ sponsor.sponsor_name }}</div>
                                        <p style="font-weight: 300;font-size: 0.9rem;">{{ sponsor.sponsor_type }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    Owl Library#}
    {#    <section id="sponsorSection" class="orange-fade p-5 margin-top-xl pos-r parallax"#}
    {#             style="padding:0; background-image: url('{% static 'gandharva/img/p.jpg' %}');">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-sm-12">#}
    {#                    <br>#}
    {#                    <h2 class="text-center font-weight-bold text-white" style="padding-top: 6px" data-sal="slide-up"#}
    {#                        data-sal-easing="ease-out-bounce" data-sal-delay="100" data-sal-duration="800">Our#}
    {#                        Sponsors</h2>#}
    {#                    <p></p>#}
    {#                    <div class="mt-5 pos-r" data-sal="slide-up" data-sal-easing="ease-out-bounce"#}
    {#                         data-sal-delay="100"#}
    {#                         data-sal-duration="800">#}
    {#                        <div class="carousel-controls testimonial-carousel-controls">#}
    {#                            <div class="control prev"><i class="fa fa-chevron-left text-white">&nbsp;</i></div>#}
    {#                            <div class="control next"><i class="fa fa-chevron-right text-white">&nbsp;</i></div>#}
    {#                        </div>#}
    {#                        <div class="owl-carousel" style="margin-right: auto;margin-left: auto">#}
    {#                            {% for sponsor in sponsors %}#}
    {#                                <div class="one-slide white">#}
    {#                                    <div class="testimonial w-100 h-100 p-3 text-center">#}
    {#                                        <div class="brand"><img alt="logo"#}
    {#                                                                src="{% static sponsor.sponsor_logo %}"#}
    {#                                                                style="width:auto;height:100px;max-width:100px"/>#}
    {#                                        </div>#}
    {#                                        <div class="separator">&nbsp;</div>#}
    {#                                        <div class="message text-center text-gray"#}
    {#                                             style="font-size: 1rem">{{ sponsor.sponsor_name }}</div>#}
    {#                                        <p style="font-weight: 300;font-size: 0.9rem;">{{ sponsor.sponsor_type }}</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            {% endfor %}#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    <section id="contact">
        <div class="map-responsive">
            <iframe data-sal="slide-left" data-sal-easing="ease-out-bounce" data-sal-delay="100"
                    data-sal-duration="800"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.5401738494324!2d73.8832296900385!3d18.45917563402179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eaf41ac81e59%3A0xeedc5be537570702!2sVIIT+College+Of+Engineering!5e0!3m2!1sen!2sin!4v1542291058693"
                    frameborder="0" style="border:0;width:100%;height:100%" allowfullscreen></iframe>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'gandharva/js/coundown-timer.js' %}"></script>
    <script type="text/javascript" src="{% static 'gandharva/js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'gandharva/js/particles.min.js' %}"></script>
    {#    <script type="text/javascript" src="{% static 'gandharva/js/owl.carousel.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'gandharva/js/home.js' %}"></script>
{% endblock %}
